.contain {
  background-color:rgb(51, 51, 51);
  position: absolute;
  width:50%;
  top: 30%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  transform:translate(-50%,-50%);
  border-radius: 10px;
}

.board{
  position: absolute;
  width:60%;
  top: 60%;
  left:20%;
}

li{
  list-style-type:none;
  padding:7px;
}

.text {
  margin:5% 5%;
  color: white;
  font: bold 20px solid;
 
}
.text2 {
  margin:5% ;
  color: black;
  font: bold 15px solid;
  background-color: whitesmoke;
 
}
.contain blockquote p:first-child::before{
  content:'\201C';
  color:#29aeec;
  font-size: 6em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top:-.05em;
  left:.1em;
  text-shadow: none;
  z-index :-300;

}
.item { 
  margin: 10px;
  height: 55px;
  border: 3px solid #777;
  background-color: #fafafa;
  border-radius: 15px;
 
}
  