.contain {
  background-color:rgb(51, 51, 51);
  position: absolute;
  width:50%;
  top: 30%;
  left:50%;
  -ms-transform: translate(-50%,-50%);
  transform:translate(-50%,-50%);

}
.background {
  background: url(https://img.freepik.com/free-vector/watercolour-abstract-background_1048-9210.jpg?size=626&ext=jpg);
  height: 50%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.board{
  background-color:red;
  position: absolute;
  width:60%;
  top: 60%;
  left:20%;
}



.text {
  margin:5% 5%;
  color: white;
  font: bold 20px solid;
 
}
.contain blockquote p:first-child::before{
  content:'\201C';
  color:#29aeec;
  font-size: 6em;
  font-weight: 700;
  opacity: .3;
  position: absolute;
  top:-.05em;
  left:.1em;
  text-shadow: none;
  z-index :-300;

}